@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Optional: Style your items */
  .my-masonry-grid_column > div {
    margin-bottom: 20px;
  }